<!DOCTYPE html>
<html>
<head>
  <title>Farah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="home-container">
		<%= image_tag("fl.png", :class => "social-icon") %>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><%= link_to('Illustrations', illustrations_path) %></li>
				<li><%= link_to('Photography', photographies_path) %></li>
				<li><a href="/">Blog</a></li>
				<li><a href="/">Shop</a></li>
				<li class="facebook"><%= image_tag("facebook.png", :class => "social-icon") %></li>
				<li class="twitter"><%= image_tag("twitter.png", :class => "social-icon") %></li>
			</ul>
		</nav>
	</div>
</header>
<%= yield %>


</body>
</html>
