<!DOCTYPE html>
<html>
<head>
  <title>F A R A H</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="home-container">
		<%= image_tag("logo.png") %>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><%= link_to('Illustration', illustrations_path) %></li>
				<li><%= link_to('Photography', photographies_path) %></li>
				<li><a href="/">Blog</a></li>
				<li><a href="http://www.etsy.com/uk/people/FarahAnnut?ref=pr_profile">Shop</a></li>
				<li class="facebook"><%= link_to(image_tag("facebook2.png", :class => "social-icon"), 'https://www.facebook.com/MISSF4R4H?fref=tshttps://www.facebook.com/MISSF4R4H?fref=ts') %></li>
				<li class="twitter"><%= link_to(image_tag("twitter2.png", :class => "social-icon"), 'https://twitter.com/_F4R4H') %></li>
			</ul>
		</nav>
	</div>
</header>
<%= yield %>


</body>
</html>
